<!DOCTYPE html>
<html>
<head>
    <title>Analytics</title>
    <link rel="stylesheet" href="/static/analytics.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="top-header">
        <h2>Artifact analytics</h2>
        <div style="display: flex; align-items: center; gap: 0.5rem;">
            <form action="/" method="get" class="header-form">
                <button type="submit">Index page</button>
            </form>
            <form action="/logout" method="post" class="header-form">
                <button type="submit">Logout</button>
            </form>
        </div>
    </header>

    <div class="container">
        <canvas id="artifactsPerDayChart"></canvas>
        <canvas id="statusPieChart"></canvas>
    </div>

    <script src="/static/analytics.js"></script>
</body>
</html>
